.App {
  text-align: center;
  min-height: 100vh;
  background-color: #b5cac1;
}
#homepage {
    height: 90vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
  height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
::placeholder {
  text-align: center;
}

#header {
  background: #044f64;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #f8dab4;
  width: 100vw;
  height: 80px;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  width: 25vw;
}

input {
  margin: 5px;
  text-align: center;
}
label {
  margin: 5px;
}
input[type=text]:focus {
  background-color: #508a8b;
}
.header-links, .header-links-nav {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #e4c49b 5%, #f8dab4 100%);
	background-color:#0f8cab;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#508a8b;
	font-family:Arial;
	font-size:1vw;
	font-weight:bold;
	padding: .5vw;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f8dab4 5%, #e4c49b 100%);
	background-color:#f8dab4;
}
.myButton:active {
	position:relative;
	top:1px;
}

.profile {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.profile-crud {
  display: flex;
  justify-content: space-around;
}
.profile-details {
  text-align: left;
  width: 30vw;
}
.profile-pic {
  max-width: 25vw;
  object-fit: cover;
  size: cover;
}
.saved-trail-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
  justify-content: center;
}
.user-saved-trials {
  width: 30vw;
  text-decoration: none;
  margin: 15px;
}
.saved-img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}
.search-img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}
.trail-container {
  max-width: 60%;
  margin: auto;
  height: 100%;
}

.search-trails {
  flex-direction: column;
  max-height: 20vh;
}

.all-show {
  overflow-y: scroll;
  max-height: 90%;
}

.weather-ribbon {
  display: flex;
  border: 2px solid #000;
  width: calc(55vw - 4px);
  margin: auto;
  justify-content: space-around;
  max-height: 15vh;
  align-content: center;
}
.temps > p {
  margin: 2px;
}
.temps > h4 {
  margin: 2px;
}
.temps, .wind, .gen {
  border-left: 2px solid #a9a6a2;
  background-color: rgba(248,219,180,.8588235294117647);
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gen > p {
  margin: auto;
}

.wind > p {
  margin: 2px;
}
.wind > h4 {
  margin: 2px;
}
.over-view {
  display: flex;
  align-content: center;
  background-color:  #f8dbb4db;
  width: 34%;    
  align-items: center;
}

.trail-show{
  display: flex;
  width: 55vw;
  margin: auto;
  justify-content: space-between;
}

.trail-show > img {
  width: 50%;
  height: 300px;
  object-fit: cover;
}
.trip-sub-details {
  width: 50%;
}
.trip-sub-details > p {
  text-align: left;
  padding-left: 5%;
}
iframe {
  width:100%;
  max-width: 1200px;
  height: 410px;
  border:none;
}
.trail-map {
  width: 55vw;
  display: flex;
  align-content: center;
  margin: auto;
}
.review-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 55vw;
}
.individual-review {
  border: 1px solid black;
  margin: 1px auto;
  width: 50%;
}
.individual-review > h4,p {
  margin: 2px 0px;
}

.review-crud {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 450px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

  #header {
    background: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100vw;
    padding: 30px 0px;
    margin: 0;
  }
  .header-nav {
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }
  .header-links-nav {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #e4c49b 5%, #f8dab4 100%);
    background-color:#0f8cab;
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:#508a8b;
    font-family:Arial;
    font-weight:bold;
    padding: .5vw;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    font-size: 5vw;
  }
  .trip-details > h3 {
    margin: 2px;
  }
  .trail-show{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    justify-content: space-between;
  }
  .trail-map {
    width: 100vw;
    display: flex;
    align-content: center;
    margin: auto;
  }
  .weather-ribbon {
    display: flex;
    border: 2px solid #000;
    width: calc(100vw - 4px);
    margin: auto;
    justify-content: space-around;
    max-height: 20vh;
    align-content: center;
  }
  .over-view {
    align-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(248,219,180,.8588235294117647);
    width: 25%;
    align-items: center;
  }
  .temps {
    border-left: 2px solid #a9a6a2;
    background-color: rgba(248,219,180,.8588235294117647);
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trail-show > img {
    width: 0px;
    height: 0px;
  }
  .review-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
  }
  .trip-sub-details {
    width: 90%;
    margin-bottom: 2px;
    margin-top: 0px;
    margin: auto;
  }

}